/* @override http://codesturgeon.github.com/reddit-maze/main.css */

div.flesh {
	border-width:inherit;
	border-width:inherit;
	background-color:rgb(188, 188, 188);
	font-family:'Courier New';
	border-left:2px solid rgb(128, 128, 128);
	border-right:2px solid rgb(128, 128, 128);
	border-top:1px solid rgb(128, 128, 128);
	border-bottom:1px solid rgb(128, 128, 128);
}

div#content {
	background-color: #ccc;
	padding:inherit;
	padding-top:2px;
	padding-right:2px;
	padding-bottom:2px;
	padding-left:2px;
	min-height:150px;
	height:auto; 	
}

div#footer {
	text-align:center;
	border-bottom-width:2px;
	font: xx-small sans-serif;
}

div#menu {
	padding-left:25px;
	font-size:smaller;
}

div#header {
	font-size:larger;
	font-weight:bolder;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:15px;
	border-top-width:2px;
	background-color:rgb(211, 211, 211); 
}

div.post {
	background-color: #b3b3b3;
	margin-right: 3px;
	margin-left: 3px;
}

div.post_head {
	font-weight: bold;
}

div.post_content {
}

