<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="main.css" rel="stylesheet" type="text/css" >
	<title>{{ page.title }}</title>
</head>
<body>
        <div id="header" class="flesh" >
            &gt;&lt;<a href="/reddit-maze">reddit-maze</a>&gt;</div>
        <div id="menu" class="flesh" >
            [<a href="/reddit-maze">Home</a>]
        </div>
        <div id="content" class="flesh">
            {{content}}
            <div id="posts">{{site.posts}}</div>
        </div>
        <div id="footer" class="flesh" >
            <small>Copywrite ME<br/> All rights made in to jam</small></div>
</body>
</html>
