<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="main.css" rel="stylesheet" type="text/css" >
	<title>{{ page.title }}</title>
</head>
<body>
        <div id="header" class="flesh" >
            &gt;&lt;<a href="/reddit-maze">reddit-maze</a>&gt;</div>
        <div id="menu" class="flesh" >
            [<a href="/reddit-maze">Home</a>]
            [<a href="http://github.com/CodeSturgeon/reddit-maze"
                                                            >Github repo</a>]
            [<a href="http://reddit-maze.appspot.com/"
            onclick="pageTracker._link(this.href); return false;" >Game</a>]
        </div>
        <div id="content" class="flesh">
            {{content}}
            <div id="posts">
                {% for item in site.posts %}
                    <div class="post">
                        <div class="post_head">
                            {{ item.date | date: "%y%m%d" }} - {{item.title}}
                        </div>
                        <div class="post_content">
                            {{ item.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="footer" class="flesh" >
            <small>Copywrite ME<br/> All rights made in to jam</small></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." :
"http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost +
"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-11484445-1");
    pageTracker._setDomainName("none");
    pageTracker._setAllowLinker(true);
    pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
